{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/alt.css' %}?version=13">
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}?version=12">
{% endblock extra_css %}

{% block body_class %}about-page{% endblock body_class %}

{% block content %}
    <main>
    <div class="container">
        <div class="content">
        {{ page.body|richtext }}
        </div>

        <div class="carousel">
            <div class="carousel-inner">
                {% for item in page.projects.all %}
                <input class="carousel-open" type="radio" id="carousel-{{ forloop.counter }}" name="carousel" aria-hidden="true" hidden="" {% if forloop.counter == 1 %}checked="checked"{% endif %}>
                <div class="carousel-item">
                {% image item.snapshot fill-400x300 as img %}
                    <img src="{{ img.url }}" alt="{{ img.alt }}">
                </div>
                {% endfor %}

                {% for item in page.projects.all %}
                <label for="carousel-{% if forloop.first %}{{ page.projects|length }}{% else %}{{ forloop.counter0 }}{% endif %}" class="carousel-control prev control-{{ forloop.counter }}">‹</label>
                <label for="carousel-{% if forloop.last %}1{% else %}{{ forloop.counter|add:'1' }}{% endif %}" class="carousel-control next control-{{ forloop.counter }}">›</label> 
                {% endfor %}

                <ol class="carousel-indicators">
                {% for item in page.projects.all %}
                    <li>
                        <label for="carousel-{{ forloop.counter }}" class="carousel-bullet">•</label>
                    </li>
                {% endfor %}
                </ol>
            </div>
        </div>

        {% comment %} <div class="subscribe-bottom">
            <h2>Newsletter</h2>
            <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
            <form class="signup">
                    <label class="sr-only" for="semail">Your email</label>
                    <input class="text-field" type="text" placeholder="Enter Email">
                    <input class="subscribe-btn" type="submit" value="Subscribe">
            </form>
        </div> {% endcomment %}
    </div>
    </main>

    <footer>
        <small class="copyright">
            Designed with <i class="fas fa-heart fa-fw"></i> by <a href="#" target="_blank">Luke Gao</a> for developers
        </small>
    </footer>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock extra_js %}