{% load static wagtailimages_tags profile_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'image/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'image/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'image/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'image/site.webmanifest' %}">
        {% comment %} <script src="https://kit.fontawesome.com/6f63a0fb84.js" crossorigin="anonymous"></script> {% endcomment %}
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css?family=Literata|Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/galilee.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        <header>
            <h1>{{ page.title }}</h1>

            {% get_profile as profile %}

            {% if profile is None %}
            <div>Sorry, There is no siteowner</div>
            {% else %}

            {% image profile.avatar original as img %}
            <nav class="navbar">
                <button class="navbar-toggler" data-target="#navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                </button>
                <div id="navigation" class="navbar-collapse collapse">
                    <div class="profile-section">
                        <img class="profile-image" src="{{ img.url }}" alt="{{ img.alt }}">
                        <div class="bio">
                            <span>{{ profile.intro }}</span><br>
                            <a href="about">Find out more about me</a>
                        </div>
                        <ul class="social-account">
                            <li><a href="{{ profile.wechat }}"><i class="fab fa-weixin"></i></a></i></li>
                            <li><a href="{{ profile.linkedin }}"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="{{ profile.github }}"><i class="fab fa-github"></i></a></li>
                            <li><a href="{{ profile.twitter }}"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                        <hr>
                    </div>
                    <ul class="navbar-nav">
                        <li class="nav-item"><i class="fas fa-home fa-fw"></i><a href="/">Home</a></li>
                        <li class="nav-item"><i class="fas fa-bookmark fa-fw"></i><a href="/list">Blog</a></li>
                        <li class="nav-item"><i class="fas fa-user fa-fw"></i><a href="/about">About Me</a></li>
                    </ul>
                    <div class="cta">
                        <a class="cta-btn" href="mailto:lukegao@gmail.com" target="_blank">Get in Touch</a>
                    </div>
                </div>
            </nav>
            {% endif %}

        </header>

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/galilee.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
