{% load static wagtailimages_tags get_profile %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge"
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/galilee.css' %}">
        <script src="https://kit.fontawesome.com/6f63a0fb84.js" crossorigin="anonymous"></script>

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">

        <header>
            <h1>{{ page.title }}</h1>

            {% image profile.avatar as img %}
            <nav class="navbar">
                <button class="navbar-toggler" data-target="#navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                </button>
                <div id="navigation" class="navbar-collapse collapse">
                    <div class="profile-section">
                        <img class="profile-image" src="{{ img.url }}" alt="{{ img.alt }}">
                        <div class="bio">
                            <span>{{ profile.intro }}</span><br>
                            <a href="about">Find out more about me</a>
                        </div>
                        <ul class="social-account">
                            <li><a href="{{ profile.wechat }}"><i class="fab fa-weixin"></i></a></i></li>
                            <li><a href="{{ profile.linkedin }}"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="{{ profile.github }}"><i class="fab fa-github"></i></a></li>
                            <li><a href="{{ profile.twitter }}"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                        <hr>
                    </div>
                    <ul class="navbar-nav">
                        <li class="nav-item"><i class="fas fa-home fa-fw"></i><a href="/">Home</a></li>
                        <li class="nav-item"><i class="fas fa-bookmark fa-fw"></i><a href="list">Blog</a></li>
                        <li class="nav-item"><i class="fas fa-user fa-fw"></i><a href="about">About Me</a></li>
                    </ul>
                    <div class="cta">
                        <a class="cta-btn" href="https://lukegao.me" target="_blank">Get in Touch</a>
                    </div>
                </div>
            </nav>
        </header>

        {% block content %}{% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/galilee.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
