{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/main.css' %}">

{% endblock extra_css %}

{% block body_class %}homepage{% endblock body_class %}

{% block content %}
    <main>
        <div class="container">
            <section class="subscribe">
                <div class="heading">
                    <h2>DevBlog - A Blog Template Made For Developers</h2>
                    <div class="intro">
                        Welcome to my blog. Subscribe and get my latest blog post in your inbox.
                    </div>
                    <form class="signup">
                        <label class="sr-only" for="semail">Your email</label>
                        <input class="text-field" type="text" placeholder="Enter Email">
                        <input class="subscribe-btn" type="submit" value="Subscribe">
                    </form>
                </div>
            </section>

            <section class="blog-list">
            {% for post in posts %}
                <div class="post-item">
                    {% image post.cover_image original as img %}
                    <img class="post-image" src="{{ img.url }}" alt="{{ img.alt }}">
                    <div class="post-body">
                        <h3 class="post-title">{{ post.title }}</h3>
                        <div class="post-meta">
                            <span class="post-date">{{ post.first_published_at }}</span>
                            <span class="post-length">5 min read</span>
                            <span class="post-comment">9 comments</span>
                        </div>
                        <div class="post-intro">{{ post.intro }}</div>
                        <a class="post-link" href="{{ post.url }}">Read more</a>
                    </div>
                </div>
            {% endfor %}
                <nav class="nav-blog"></nav>
            </section>

            <div class="page-btn">
                <a href="list.html">Next<span class="next"><i class="fas fa-arrow-circle-right fa-fw"></i></span></a>
            </div>
        </div>

    </main>
    <footer>
        <small class="copyright">
            Designed with <i class="fas fa-heart fa-fw"></i> by <a href="#" target="_blank">Luke Gao</a> for developers
        </small>
    </footer>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock extra_js %}