<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>post</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://kit.fontawesome.com/6f63a0fb84.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Luke' Blog</h1>
        <nav class="navbar">
            <button class="navbar-toggler" data-target="#navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div id="navigation" class="navbar-collapse">
                <div class="profile-section">
                    <img class="profile-image" src="image/profile.png" alt="profile image">
                    <div class="bio">
                        <span>Hi, My name is luke. Briefly introduce yourself here. You can also provide a link to the about page.</span><br>
                        <a href="about.html">Find out more about me</a>
                    </div>
                    <ul class="social-account">
                        <li><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></i></li>
                        <li><a href="https://linkenin.com"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://github.com"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                    <hr>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item"><i class="fas fa-home fa-fw"></i><a href="/">Home</a></li>
                    <li class="nav-item"><i class="fas fa-bookmark fa-fw"></i><a href="blog.html">Blog</a></li>
                    <li class="nav-item"><i class="fas fa-user fa-fw"></i><a href="about.html">Resume</a></li>
                </ul>
                <div class="cta">
                    <a class="cta-btn" href="https://lukegao.me" target="_blank">Get in Touch</a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <section class="blog-list">
                <div class="post-item">
                    <img class="post-image" src="image/blog-post-thumb.jpg" alt="image">
                    <div class="post-body">
                        <h3 class="post-title">This is the post title</h3>
                        <div class="post-meta">
                            <span class="post-date">Published date</span>
                            <span class="post-length">5 min read</span>
                            <span class="post-comment">9 comments</span>
                        </div>
                        <div class="post-intro">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                        </div>
                        <a class="post-link" href="#">Read more</a>
                    </div>
                </div>
                <div class="post-item">
                    <img class="post-image" src="image/blog-post-thumb.jpg" alt="image">
                    <div class="post-body">
                        <h3 class="post-title">This is the post title</h3>
                        <div class="post-meta">
                            <span class="post-date">Published date</span>
                            <span class="post-length">5 min read</span>
                            <span class="post-comment">9 comments</span>
                        </div>
                        <div class="post-intro">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                        </div>
                        <a class="post-link" href="#">Read more</a>
                    </div>
                </div>
                <div class="post-item">
                    <img class="post-image" src="image/blog-post-thumb.jpg" alt="image">
                    <div class="post-body">
                        <h3 class="post-title">This is the post title</h3>
                        <div class="post-meta">
                            <span class="post-date">Published date</span>
                            <span class="post-length">5 min read</span>
                            <span class="post-comment">9 comments</span>
                        </div>
                        <div class="post-intro">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                        </div>
                        <a class="post-link" href="#">Read more</a>
                    </div>
                </div>
                <div class="post-item">
                    <img class="post-image" src="image/blog-post-thumb.jpg" alt="image">
                    <div class="post-body">
                        <h3 class="post-title">This is the post title</h3>
                        <div class="post-meta">
                            <span class="post-date">Published date</span>
                            <span class="post-length">5 min read</span>
                            <span class="post-comment">9 comments</span>
                        </div>
                        <div class="post-intro">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                        </div>
                        <a class="post-link" href="#">Read more</a>
                    </div>
                </div>
                <nav class="nav-blog"></nav>
            </section>

            <div class="page-btn">
                <a href="/" >Prev<span class="prev"><i class="fas fa-arrow-circle-left fa-fw"></i></span></a>
                <a href="list.html">Next<span class="next"><i class="fas fa-arrow-circle-right fa-fw"></i></span></a>
            </div>
        </div>

    </main>

    <footer>
        <small class="copyright">
            Designed with <i class="fas fa-heart fa-fw"></i> by <a href="#" target="_blank">Luke Gao</a> for developers
        </small>
    </footer>

    <script src="js/main.js"></script>
</body>
</html>